<tr>
  <td><%= shipment_item.product.sku %></td>
  <td><%= shipment_item.product.name %></td>
  <td><%= number_to_currency(shipment_item.product.price) %></td>  
  <td><%= shipment_item.quantity %></td>
  <td><%= number_to_currency(shipment_item.value) %></td>
</tr>