<%= form_with model: @shipment do |form| %>
  <% if @shipment.errors.any? %>
    <%= render 'shared/error_message', object: @shipment %>
  <% end %>
  <div class="field">
    <%= form.label :customer_name, class: "label" %>
    <div class="control">
      <%= form.text_field :customer_name, class: "input" %>
    </div>
  </div>
  <%= form.fields_for :shipment_items do |item_form| %>
    <div class="field">
      <%= item_form.label :product_id, "Product", class: "label" %>
      <div class="control">
        <div class="select">
          <%= item_form.select(:product_id, options_for_select(@product_options)) %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= item_form.label :quantity, class: "label" %>
      <div class="control">
        <%= item_form.number_field :quantity, class: "input" %>
      </div>
    </div>
  <% end %>
  <%= form.submit class: "button is-primary" %>
<% end %>