<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyDeveloperInternChallengeFall2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <div class="navbar-brand"><%= link_to "Home", root_path, class: "navbar-item" %></div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to "Add Product", new_product_path, class: "button is-primary" %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container"><%= yield %></div>
  </body>
</html>
